.color-0{
	color: greenyellow;
}
.color-1{
	color: red;
}
.color-2{
	color: blue;
}
.color-3{
	color: yellow;
}
.color-4{
	color: orangered;
}
.color-5{
	color: darkviolet;
}
.color-6{
	color: cornflowerblue;
}
.color-7{
	color: seagreen;
}
.color-8{
	color: chartreuse;
}
.color-9{
	color: aqua;
}
.color-10{
	color: darkred;
}